.comments__center {
  padding: 76px 0 100px;
}

.comments__center-items {
  overflow: hidden;
  position: relative;

  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    display: flex !important;
    position: relative;
    top: -106px;
    right: 21px;
    justify-content: flex-end;

    li {
      background: #f2f2f0;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      margin-right: 5px;

      &.slick-active {
        background: #b3b3b1;
        border: inherit;
      }

      button {
        font-size: 0;
      }
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.comments__center-items-item-block--text {
  font-size: 31px;
  font-weight: 900;
  font-family: $BigPro;
  margin-bottom: 45px;
  position: relative;
}

.comments__center-items-item-block--text:before {
  content: '“';
  font-size: 54px;
  color: rgba(13, 13, 13, 0.2);
  font-weight: 900;
  font-family: $BigPro;
  position: absolute;
  top: -22px;
}

.comments__center-items-item-block--name {
  font-family: $Montserrat;
  font-size: 14px;
  font-weight: 500;
}

.comments__center-items-item-block--profs {
  font-family: $Montserrat;
  font-size: 14px;
  font-weight: 100;
}

.comments__center-items-item-block-button {
  margin-top: 45px;
}

.comments__center-items-item-block-button .component--button {
  color: #0d0d0d;

  img {
    filter: invert(1);
    width: 39px;
    margin: 1px 0 0 10px;
  }
}

@include min-screen(mq('tablet')) {
  .comments__center-items-item-block-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-top: 0;
    position: relative;
    top: -40px;
  }

  .comments__center-items .slick-dots {
    display: flex !important;
    position: relative;
    top: 25px;
    text-align: left;
    left: 0;
    justify-content: start;

    li {
      background: rgba(13, 13, 13, 0.2);

      &.slick-active {
        background: #0d0d0d;
      }
    }
  }

  .comments__center-items-item-block--text {
    margin-bottom: 65px;
  }

  .comments__center-items {
    padding-bottom: 45px;
    padding-top: 30px;
  }
  
  .comments__center-items-item-block--text:before {
    top: -20px;
    left: 0;
  }

  .comments__center-items .slick-list {
    overflow: hidden;
    padding-top: 28px;
  }
}