.header {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;
  width: 100%;
  z-index: 100;

  img {
    width: 130px;
  }
}

.header-logo__btn:after {
    content: '';
    background: url($base_img+'/logo.svg') no-repeat;
    background-size: 100%;
    width: 132px;
    height: auto;
    display: flex;
    align-items: center;
}