.portifolio-contact {
  background: #0d0d0d;
  padding: 50px 0 50px 24px;
}

.portifolio-contact-block {
  color: #fff;
  font-size: 16px;
}

.portifolio-contact-title {
  font-weight: 700;
  display: block;
}

.portifolio-contact-text {
  font-weight: 100;
  display: block;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.8);
}

.portifolio-contact-button {
  display: flex;
  align-items: center;
  margin-top: 40px;

  img {
    width: 39px;
    margin: 1px 0 0 10px;
  }
}

.portifolio-projects--text h2 {
  font-size: 32px;
  display: block;
  margin: 110px 0 75px;
}

.portifolio-projects-banners-items-item {
  display: block;
  margin-bottom: 16px;
}

.portifolio-projects-button {
  display: block;
  margin: 105px 0 98px;
}

.portifolio-projects-button .component--button {
  font-weight: 700;
  color: #0d0d0d;

  img {
    width: 39px;
    margin: 1px 0 0 10px;
    filter: invert(1);
  }
}

@include min-screen(mq('tablet')) {
  .portifolio-projects-banners-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .portifolio-contact-title {
    font-size: 14px;
  }

  .portifolio-contact-text {
    font-size: 14px;
  }

  .portifolio-contact {
    background: #0d0d0d;
    padding: 35px 0 35px 50px;
    width: 70%;
    position: absolute;
    right: 0;
  }

  .hero-arrow {
    width: 100%;
  }

  .hero-content {
    height: 126px;
  }

  .portifolio-contact-block {
    display: flex;
    justify-content: space-between;
  }

  .portifolio-contact-button {
    margin-top: 0;
  }

  .portifolio-projects--text h2 {
    font-size: 35px;
    text-decoration: unset;
  }

  .portifolio-projects-banners-items-item {
    width: 49%;
  }

  .portifolio-projects-banners-items-item-top {
    position: relative;
    top: -69px;
  }
}

@include min-screen(mq('desktop-small')) {
  .portifolio-contact {
    width: 60%;

    @media (min-width: 2000px) {
      width: 50%;
    }
  }
}